<mat-toolbar >
    <button mat-icon-button *ngIf="sidenav.mode === 'over'"(click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> 
       menu
      </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
       close
      </mat-icon>
       </button>
    <span>Reserva tu cupo</span>
  </mat-toolbar>

  <nav class="example-container sidenav">
    <ul class="mat-elevation-z8" mode="side" opened>
      <img class="avatar" src="../../assets/img/parknow.png" alt="">
      <mat-divider></mat-divider>
      <li class="menu-button">
        <a mat-button [routerLink]="['fincas/fincaDetails/id']">Historial Reservas</a>
      </li>
      <mat-divider></mat-divider>
      <li class="menu-button" (click)="logout()">
        <a mat-button><mat-icon>logout</mat-icon>Salir</a>
      </li>
    </ul>
  
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </nav>
