<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-content">
    <img src="../../assets/img/parknow.png" alt="ParkNow Logo" class="logo">
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
    <a href="#" class="logout-link">Cerrar sesión</a>
  </div>
</mat-toolbar>


