.footer {
    text-align: center; /* Centrado del texto dentro del footer */
  }
  .container {
    width: 80%; /* Ancho fijo para que se centre mejor */
    margin: 0 auto; /* Centrado horizontal automático */
    height: 80%;
  }