<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Actualizar empleado</h3>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control"  formControlName="id" required>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control"  formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="apellido">correo</label>
      <input type="email" class="form-control" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="telefono">Contraseña:</label>
      <input type="text" class="form-control"  formControlName="password" required>
    </div>

    <div class="form-group">
      <label for="email">Activo:</label>
      <input type="text" class="form-control"  formControlName="enable" required>
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
  </form>
</div>