body{
  //background: linear-gradient(90deg, hwb(0 100% 0%), rgb(182, 182, 135));
  color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

button {
  background-color: #007bff; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Quita el borde */
  padding: 8px 12px; /* Relleno interno */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar por encima */
}

/* Estilos para las tarjetas */
.card-container {
  display: flex;
  flex-direction: column; 
 

}

.card {
  flex: 0 1 calc(33.33% - 10px); /* 3 tarjetas por fila con espacio entre ellas */
  margin-bottom: 20px;
}
.card {
  flex-basis: calc(33.33% - 20px); /* Ancho máximo para tres tarjetas por fila */
  margin-bottom: 20px;
  margin-right: 20px; /* Espacio entre tarjetas */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Borde redondeado */
  background-color: #ffd700; /* Color de fondo amarillo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Ajustar el margen derecho de la última tarjeta en cada fila */
.card:nth-child(3n) {
  margin-right: 0;
}

/* Ajustar el ancho de las tarjetas si hay menos de tres en una fila */
@media (max-width: 992px) {
  .card {
      flex-basis: calc(50% - 20px); /* Ancho máximo para dos tarjetas por fila */
  }
}

@media (max-width: 576px) {
  .card {
      flex-basis: calc(100% - 20px); /* Ancho completo para una tarjeta por fila */
  }
}
.filas {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  flex: 0 0 calc(33.33% - 10px); 
  margin: 5px;}