<form [formGroup]="formulario" class="form" (ngSubmit)="guardarUsuario()">
  <div class="content mat-elevation-z8">
    <div class="left-container">
      <!-- Contenido del contenedor izquierdo -->
      <div class="form-container">
        <!-- Texto descriptivo -->
        <p>Ingrese los detalles del usuario:</p>

        <!-- Campo de nombre -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput placeholder="Ingrese su nombre">
        </mat-form-field>

        <!-- Campo de correo -->
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input formControlName="email" matInput placeholder="Ingrese su correo electrónico">
        </mat-form-field>

        <!-- Campo de contraseña -->
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" matInput type="password" placeholder="Ingrese su contraseña">
        </mat-form-field>

  
        <!-- Botón de registrar -->
        <button mat-raised-button color="accent">Registrar</button>
        <button mat-raised-button color="accent" (click)="clear" >Limpiar</button>
        <button mat-raised-button color="accent" >Atrás</button>
        
      </div>
    </div>
  </div>
</form>
      

    
    
    
     