<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de empleados</h3>
  <form [formGroup]="formulario" (ngSubmit)="guardarUsuario()">
    <div class="form-group">
      <label for="nombre">Nombre :</label>
      <input type="text" class="form-control"  formControlName="name">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido :</label>
      <input type="text" class="form-control"  formControlName="email">
    </div>
    <div class="form-group">
      <label for="telefono">Telefono :</label>
      <input type="text" class="form-control"  formControlName="password">
    </div>
    
    <button type="submit" class="btn btn bg-success">Guardar</button>
  </form>
</div>
      

    
    
    
     